<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/allcss.css">
  <title>Document</title>
</head>
<body>

  <div class="main">
    welcome
    <a class="register" th:href="@{/}">register</a>
    <a class="login" th:href="@{/login}">login</a>
    <a class="logout" th:href="@{/logout}">logout</a>
    <a href="">view profile</a>
    <a th:href="@{/allusers}">view all users</a>
  </div>

  <div class="wrapper wrapper2">
    <h2>Welcome Dear</h2>
</div>
</body>
</html>